<ul id="myUL">
    <ul class="active">
        <li><input type="checkbox" name="a" id="a" class="css-checkbox">
            <label for="a" class="css-label p-right-10">
                <span class="fa fa-plus"></span>
                <span class="fa fa-minus"></span>
            </label>
            <span>ISBN</span>
            <ul class="active">
                <li>
                    <input type="checkbox" name="a" id="a" class="css-checkbox">
                    <label for="a" class="css-label p-right-10">
                        <span class="fa fa-plus"></span>
                        <span class="fa fa-minus"></span>
                    </label>
                    <span>Bank 2</span>
                    <ul class="active">
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Third Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="a" id="a" class="css-checkbox">
                    <label for="a" class="css-label p-right-10">
                        <span class="fa fa-plus"></span>
                        <span class="fa fa-minus"></span>
                    </label>
                    <span>Bank 2</span>
                    <ul class="active">
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Third Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="a" id="a" class="css-checkbox">
                    <label for="a" class="css-label p-right-10">
                        <span class="fa fa-plus"></span>
                        <span class="fa fa-minus"></span>
                    </label>
                    <span>Bank 2</span>
                    <ul class="active">
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Third Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="question_2" class="ahe-ui-checkbox p-ex-left">
                                    <input type="checkbox" id="question_2" value="Second Question" name="Second Vertical Question">
                                    <span><i class="ahe-icon ahe-icon-folder"></i></span>
                                    <span>Second Question</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</ul>