<app-header></app-header>
<div class="container-fluid" #sourceContainer>
  <div id="source-picker" class="row">
    <div id="select-bank" class="col-md-6 col-lg-6 col-xl-6 p-top-20">
      <div class="col-md-11 col-lg-11 col-xl-11">
        <h4>Add question</h4>
        <h2>Choose a source to pick from</h2>
        <source-picker></source-picker>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
    </div>
  </div>
</div>
<app-footer></app-footer>

<!--  Basic single button confirmation modal

<div *ngIf="alertMessageData.Message != ''" class="ahe-ui-alert-modal" id="singleButtonModal" role="dialog" tabindex="-1">
  <div class="modal-overlay"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{alertMessageData.Message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-success" data-dismiss="modal" (click)="closeModal()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
 -->