.search-container,.close-icon{
	position: relative;
	.clear-input{
		position: absolute;
		top: 8px;
		right: 2px;	
		cursor: pointer;
	}
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    top: 16px;
    right: -35px;
    cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 43px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}


