<div *ngIf="alertMessageData.Message != ''" class="ahe-ui-alert-modal" id="okCancelModal" role="dialog" tabindex="-1">
  <div class="modal-overlay"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{alertMessageData.Message}}
      </div>
      <div class="modal-footer">
       	<!-- <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" (click)="closeModal()">
          OK
        </button>         -->
        <mhe-button buttonText="Ok" [purpose]="_buttonPurpose.Primary" data-dismiss="modal" (click)="closeModal()"></mhe-button>
      </div>
    </div>
  </div>
</div>